[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
markdownify = "*"
aocd = "*"
bs4 = "*"
pre-commit = "*"
dijkstar = "*"
networkx = "*"
sympy = "*"

[dev-packages]

[requires]
python_version = "3.8"
